body {
    margin: 0;
    font-family: "Arial", serif;
    background: black;
}

/* Фон для лоадера */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    /* чорний фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
/* Анімація */
.spinner {
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-top: 6px solid #ff6600;
    /* кольорова частина */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* --- Header --- */
header {
    background: rgb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 2rem;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
nav {
    display: flex;
    gap: 1.6rem;
}
nav a {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    transition: color 0.2s;
}
nav a:hover {
    color: #ff6600;
}
.phone a {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-style: normal;
    color: #ffffff;

}
.phone a:hover {
    color: #ff6600;
}

header {
    transition: all 0.3s ease;
}

header.shrink .header-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header.shrink{
    background: rgb(0, 0, 0);
}
header.transparent {
    background: rgba(0, 0, 0, 0.1);
}

/* --- Hero --- */
.hero {
    position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('./images/hero1.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}
.hero-content {
    position: relative;
    z-index: 2;
   
}
.logo {
    height: 120px;
    width: auto;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 6.5rem;
    margin: 0;
    color: #ffffff;
    text-align: center;
    line-height: 1.1;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 3rem;
    margin: 0;
    color: #ffffff;
    padding-bottom: 10rem;
}
h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #ff6600;
    margin: 1rem 0 0;

}
h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    letter-spacing: 0.1em;
}
p {
    font-size: 1rem;
    color: #bbb;
    text-align: start;
}

svg {
    fill: white;
    transition: all 0.3s ease;
    overflow: visible;
}

svg:hover {
    fill: white;
    stroke: none;
    filter:
        drop-shadow(0 0 15px #fff);
}


li {
    font-size: 1rem;
    color: #bbb;
}
.hero h1 {
    line-height: 1.5;
    font-size: 7rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.hero p {
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-style: normal;
    color: #ffffff;
    margin: 0;
    text-align: center;
}
.video-section {
    padding-top: 10rem;
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 10rem;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}

.video-caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 4rem;
}
.video-caption a{
    text-decoration: none;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2rem;
    color: #ffffff;
    
}
.video-caption a:hover {
    color: #ff6600;
}
.arrow-item.flipped {
    transform: rotate(180deg);
}
.video-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.3s ease;
}
.video-overlay .overlay-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}
.video-overlay .overlay-text svg:hover {
    fill: #ff6600;
    transform: scale(1.1);
}
.video-overlay img.video-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay .overlay-text svg {
    fill:#ffffff;
    cursor: pointer;
    transition: fill 0.3s ease, transform 0.3s ease;
}

#iconUnmute {
    display: none;
}

.unmute-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unmute-btn svg {
    fill: #fff;
}

.unmute-btn:hover {
    fill:#ff6600;
}
.services-section {
    background: black;
    color: white;
}
.services-container {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: auto;
}
.services-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-item {
    flex: 1 1 200px;
    max-width: 250px;
    margin: 0 auto;
    text-align:center;
}

.arrow-item {
    flex: 0 0 auto;
    /* стрілка займає тільки свій розмір */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}
.arrow-icon {
    width: 30px;
    height: 30px;
    fill: white;
    opacity: 0.3;
    animation: arrowFlow 1.5s infinite ease-in-out;
}

/* ключові кадри */
@keyframes arrowFlow {
    0% {
        transform: translateX(0);
        opacity: 0.3;
    }

    50% {
        transform: translateX(5px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0.3;
    }
}
/* щоб кожна наступна стрілка починала трохи пізніше */
.arrow-item:nth-of-type(2) .arrow-icon {
    animation-delay: 0.2s;
}
.arrow-item:nth-of-type(4) .arrow-icon {
    animation-delay: 0.4s;
}
.arrow-item:nth-of-type(6) .arrow-icon {
    animation-delay: 0.6s;
}

#services-what .service-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}
#services-what .service-item.visible {
    opacity: 1;
    transform: translateY(0);
}
#services-what .services-flex {
    padding-bottom: 10rem;
}
#services-tasks .services-flex {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    
   
}
#services-tasks .service-item {
    max-width: 280px;
    text-align: center;
    flex: 0 1 280px;
    margin: 1rem 0;
}
#services-tasks .service-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}
#services-tasks .service-item.visible:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;
}

#services-tasks .service-item.visible:nth-child(1), 
#services-tasks .service-item.visible:nth-child(3){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;
}

.implementation {
    background-color: black;
    color: #fff;
    text-align: left;
}
.implementation-container {
    max-width: 1200px;
    margin: 0 auto;
}
.implementation-container h2{
    padding-bottom: 4rem;
}

.implementation-text {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 4rem;
}
.implementation-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;
}
.impl-item {
    flex: 1 1 calc(33% - 2rem);
    max-width: 320px;
    background: transparent;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.impl-item.show{
    opacity: 1;
    transform: translateY(0);
}

.impl-item:nth-child(1) { transition-delay: 0.2s; }
.impl-item:nth-child(2) { transition-delay: 0.6s; }
.impl-item:nth-child(3) { transition-delay: 1s; }
.impl-item:nth-child(4) { transition-delay: 1.4s; }
.impl-item:nth-child(5) { transition-delay: 1.8s;
}

.impl-number {
   
    color: #ff6600;
    margin-right: 0.4rem;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: color 0.2s;
    border-right: 1px solid #ff6600;
}

.supervisor{
    background-color: black;
}

.supervisor-container{
    max-width: 1200px;
    margin: 0 auto;
}

.supervisor-container.impl-group h2{
    padding-bottom: 4rem;
}
.supervisor-container.impl-group{
    padding-bottom: 10rem;
}

.supervisor-text {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 4rem;
}

.text-term{
    padding-bottom: 4rem;
    text-align: center;
}

.video-caption.featured{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.supervisor-items {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    padding-bottom: 10rem;
}
.supervisor-items p{
    margin-top: 0rem;
}
.super-item {
    text-align: center;
    flex: 0 1 280px;
    margin: 1rem 0;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.super-item.visible {
    opacity: 1;
}
.super-item h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}



.member{
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 4rem;
}
.member-photo{
    width: 35%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
 
}
.information{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}
.information h3{
    margin-top: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
      
}

.position {
    font-weight: 700;
    font-size: 1.2rem;
}

.partner-logo{

    height: auto;
    display: block;
    max-width: 50%;
    margin-top: auto;
    align-self: flex-start;
}
blockquote {
    font-style: italic;
    font-size: 0.7rem;
    font-weight: 200;
    color: #bbb;
    letter-spacing: 0.05em;
    padding-bottom: 2rem;
  
}

.cases{
    max-width: 1200px;
    margin: 0 auto;
}
.cases h2{
    padding-top: 0rem;
  
}
.cases .last-price{
    padding-top: 10rem;
    padding-bottom: 4rem;
}
.cases-container {
    position: relative;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}
.case-card {
    display: none;
    justify-content: center;
    background: none;
}
.case-card.active {
    display: flex;
}
.case-icon {
    flex: 0 0 80px;
    text-align: center;
    justify-content: center;
}
.case-title {
    flex: 0 0 160px;
    text-align: center;
    padding-top: 0.4rem;
    
}
.case-text {
    flex: 1;
}
.case-arrow {
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.case-title h3 {
    margin: 0;
}
.case-text ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-left: 1.2rem;
}
.case-text li {
    position: relative;
    padding-left: 1.2rem;
    line-height: 1.5;
}
.case-text li::before{
    content: "✓";
    position: absolute;
    left: 0;
    color: #ff6600;
}

.next-btn {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}
.next-btn:hover {
    transform: scale(1.2);
}

.findirector {
    max-width: 1200px;
    margin: 0 auto;
}

#supervisor .super-item{
    margin: 0;
    flex: 0 1 480px;
}
#fi_13429085 path {
    fill: white !important;
    transition: fill 0.3s;
}

.findirector-container h2 {
    padding-bottom: 10rem;
    
}

.findir-price-title {
    padding-top: 10rem;
}

.pricing-card.fin-price{
    padding-bottom: 2rem;
}

.pricing-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.pricing-card{
    background: transparent;
    border: 2px solid #777;
    border-radius: 10px;
    padding: 0.6rem;
    text-align: center;
    flex: 1;
    max-width: 250px;
    transition: 0.3s, ease;
}
.pricing-card p{
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
}

.pricing-card .price {
    font-size: 2rem;
    margin: 1rem 0;
}
.pricing-card a{
    font-size: 1rem;
}
.more-text{
    color: #ff6600;
    font-size: 2rem;
}

.support{
  
    background-color: black;
}

.support-container {
    max-width: 1200px;
    margin: 0 auto;
}

.support-container h2 {
    padding-bottom: 10rem;
}

.support-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.support-item {
    flex: 1 1 250px;
    max-width: 250px;
    background: transparent;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.support-item.visible{
    opacity: 1;
    transform: translateY(0);
}

.support-number {

    color: #ff6600;
    margin-right: 0.4rem;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: color 0.2s;
    border-right: 1px solid #ff6600;
}
.indicators{

    background-color: black;
}

.indicators-container {
    max-width: 1200px;
    margin: 0 auto;
}

.indicators-container h2 {
    padding-bottom: 4rem;
    
}
.indicators-container p {
   padding-bottom: 4rem;
    text-align: center;

}


/* Логотипи картинкою */
.partners-marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: black;
    padding: 2rem 0;
}

.marquee-content{
    display: flex;
    gap: 3rem;
    animation: marquee 25s linear infinite;
    padding-bottom: 10rem;
}

.marquee-content img{
    width: auto;
    height: 120px;
    flex-shrink: 0;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }}

.video-response{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    padding-bottom: 10rem;
    
}
.video-item h3{
    margin-bottom: 0.7rem;
}

.graphs{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 4rem;
    padding-bottom: 10rem;
}
.graph-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.graph-item img{
    height: 300px;
    width: auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:#bbb;
    position: relative;

}
.footer-contract a{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bbb;
    transition: color 0.2s;
}
.footer-contract a:hover {
    color: #ff6600;}

.footer-text {
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bbb;
    text-align: center;
    flex: 0 0 auto;
}

.footer-media{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    
}

.footer-contract,
.footer-media {
    flex: 1;
}

.footer-media svg {
    fill: #bbb;
    transition: all 0.3s ease;
    overflow: visible;
}
.footer-media svg:hover {
    fill: #ff6600;
    stroke: none;
}

#scrollTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    background: none;
    border: none;
    padding: 0;


}
#scrollTopBtn svg{
    fill: #ff6600;
}

#scrollTopBtn svg:hover {
    fill: #e65500;
}

/* Адаптив */
/* ---------------------- */
/* Tablet (768px – 1199px) */
/* ---------------------- */
@media (max-width: 1199px) and (min-width: 768px) {

    .services-container,
    .implementation-container,
    .supervisor-container,
    .cases,
    .support-container,
    .findirector,
    .footer-container,
    .indicators-container {
        max-width: 90%;
    }
        header .header-container{
        width: 100%;
        max-width: 90%;
        margin: 0;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero{
        background-position: center center;
    }
   

    nav {
        gap: 1rem;
    }

    h1 {
        font-size: 4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    h2 {
        font-size: 2.2rem;
        padding-bottom: 6rem;
    }

    .video-section{
        padding-bottom: 6rem;
    }
    #services-what .services-flex {
        padding-bottom: 6rem;
        }
    .implementation-items{
        padding-bottom: 6rem;
    }

    .supervisor-container.impl-group {
        padding-bottom: 6rem;
        }

    .services-flex,
    .implementation-items,
    .supervisor-items,
    .support-items {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

    }

    .supervisor-items{
        padding-bottom: 6rem;
    }

    .cases .last-price {
            padding-top: 6rem;}

    .service-item p {
        text-align: center;
        }
    .services-flex .arrow-item {
        display: none;
    }

    .service-item,
    .impl-item,
    .super-item,
    .support-item {
        max-width: 45%;
        flex: 1 1 45%;
    }

    .member {
        gap: 2rem;
    }
    .findirector-container h2 {
        padding-bottom: 6rem;
    }
    .findir-price-title {
        padding-top: 6rem;
    }

    .support-container h2 {
        padding-bottom: 6rem;
    }

    .information{
        font-size: 0.9rem;
    }
    .information h3{
        font-size: 1.6rem;
    }
    .marquee-content {
        padding-bottom: 6rem;
    }
    .video-response {
        padding-bottom: 6rem;

    }
    .graphs {
        padding-bottom: 6rem;
        flex-wrap: wrap;
    }

}

@media (max-width: 880px) and (min-width: 768px){
    nav a {
            font-size: 0.9rem;
        }
    .phone a {
        font-size: 0.9rem;

}}

/* ---------------------- */
/* Mobile (до 767px) */
/* ---------------------- */
@media (max-width: 767px) {
    .header-container {
        gap:0.3rem;
        padding: 0.3rem;
        flex-direction: column;
    }

    header.shrink .header-container {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
}

    nav {
        gap: 0.4rem;
    }

    nav a {
        font-size: 0.7rem;
    }
    .phone{
        display: flex;
        justify-content: flex-end;
    }
    .phone a{
        font-size: 0.7rem;
    }

    h1 {
        font-size: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    h2 {
        font-size: 1.6rem;
        padding-bottom: 3rem;
        padding-left: 1.5rem;
    }

    p {
        font-size: 0.9rem;
        text-align: center;
    }

    .logo {
        height: 80px;
    }

    .hero h1 {
    font-size: 3rem;     
    }
    .hero p {
        font-size: 1rem;
    }

    .video-container {
        height: auto;
        min-height: 250px;
    }

    .video-caption {
        gap: 1rem;
        margin-top: 0;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .video-section {
        padding-top: 0rem;
        padding-bottom: 0rem;
}
    .video-caption a {
        font-size: 1.2rem;
}

    #services-what .services-flex {
        padding-bottom: 3rem;
    }
    .services-container{
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    #services-tasks .service-item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    #services-tasks .services-flex{
        gap: 0;
    }

    .services-flex,
    .implementation-items,
    .supervisor-items,
    .support-items,
    .graphs,
    .video-response {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .service-item,
    .impl-item,
    .super-item,
    .support-item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .implementation-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .implementation-text {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 0.9rem;
        padding-bottom: 2rem;
    }

    .implementation-items p {
        text-align: start;
    }

    .implementation-items {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 3rem;
    }
    .support-items {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .supervisor-items {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 3rem;
    }

    .member {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        flex-direction: column;
        text-align: center;
    }

    .member-photo {
        width: 80%;
        margin: 0 auto;
    }

    .information h3 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .partner-logo {
        max-width: 80%;
        margin: 2rem auto 0;
    }

    blockquote {
        padding-bottom: 0;
    }

    .supervisor-container.impl-group {
        padding-bottom: 3rem;
    }

    .case-card {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    .case-arrow {
        display: none;
    }

    .case-title h3{
        padding-bottom: 1rem;

    }

    li {
        font-size: 0.8rem;
        padding-bottom: 1rem;
    }

    .cases .last-price {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        }
    .supervisor-text {
        font-size: 0.9rem;
        padding-bottom: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

}

    .marquee-content {
        animation: marquee 5s linear infinite;}

    .graphs {
        justify-content: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 3rem;
    }

    .graphs .graph-item {
        width: 100%;
    }

    .graph-item img {
        width: 100%;
        height: auto;
    }

    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        max-width: 80%;
        width: 100%;
    }

    #supervisor .super-item {
        flex: 0 1 100%;
    }

    .findirector-container h2 {
        padding-bottom: 3rem;
    }
    .findir-price-title {
        padding-top: 3rem;
}

    .support-container h2 {
        padding-bottom: 3rem;
    }

    .support-items p {
        text-align:start;
    }

    .support-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .indicators {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .indicators-container p {
        padding-bottom: 0rem;
        font-size: 0.9rem;}
    .marquee-content{
        padding-bottom: 0rem;
    }
    .partners-marquee {
        padding: 3rem 0;
    }
    .indicators-container h2 {
        padding-bottom: 1.5rem;
    }  
    .video-response {
        padding-bottom: 3rem;
    }
    .footer-container {
        flex-direction: column;
        padding: 0;
    }
    .footer-media {
        padding-bottom: 1rem;
    }
    .footer-contract {
        margin: 0;
        padding: 0;
    }
    .footer-contract p{
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 0;
    }
.footer-text {
    display: none;
}
}

@media (orientation: landscape) and (min-width: 640px) and (max-width: 767px) {
    .logo {
        height: 60px;
    }
    .hero h1 {
    
        font-size: 3.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .hero p {
        font-size: 1rem;
    }
}